{% extends 'base.html.twig' %}

{% block content %}
   
    <div class="vignette">
        <img src="{{ asset('images/affiche.jpg') }}" class="vignette__img" alt="affiche">
        <div class="vignette__txt">
            <p> !</p>
            <button>Par ici</button>
        </div>
    </div>
{% endblock %}