{% extends 'base.html.twig' %}

{% block main %}

{# pour récupérer les informations sur l'utilisateur (ne fonctionne qu'avec l'utilisateur) app.user.information voulue #}
<p>Bonjour {{ app.user.username }}</p>


{% endblock %}