{# templates/fiche_spectacle.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}



            
<!-- Fiche spectacle -->


<div class="container">
    <h1>L'ôtre belle</h1>

        <div class="row">
            <div class="col-4"> 
                        <img src="http://www.avignonleoff.com/resources/off/visuels/2017/spectacle/print/spectacle_19030.jpg" alt="" class="img-responsive" title="L'ôtre belle" />
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hoD2dowYpCk"></iframe>
                         <h4 class="text-center">Bande-annonce</h4>
            </div>
    
            <div class="col-4">
                            <h4 class=""><span class=""><i class="fa fa-clock-o" rel="tooltip" title="" ></i> À 11h15</span></h4>
                            <h4 class="">Durée : 45min</h4>  
                             <h4 class="category text-black hidden-xs"><i class="fa fa-calendar" rel="tooltip" title="" data-original-title="Calendrier des représentations"></i> Calendrier des représentations</h4> 
                             <strong class="h6">à 11h15 : </strong><span class="label label-fill label-black"><strong>du 7 au 30 juillet</strong></span> - <strong class="h6">Relâches&nbsp;: </strong><span class="label label-fill label-black">12, 19, 26 juillet</span>
                             <img src="/contents/images/picto1.svg"  alt="" height="25">&nbsp;Clown>
                             <p class="small">À partir de 6 ans</p>  
                                <h6 class="category text-black">Tarifs</h6>

                                <ul class="list-unstyled">
                                    <li>Abonné<span class="pull-right"><strong>10&nbsp;&euro;</strong></span></li>
                                    <li>Plein tarif<span class="pull-right"><strong>14&nbsp;&euro;</strong></span></li>
                                    <li>Enfant (moins de 12 ans)<span class="pull-right"><strong>7&nbsp;&euro;</strong></span></li>
                                </ul>

                    <p class="small">Moyens de paiement acceptés</p>
                    <img src="/contents/images/payment2.svg" alt="" height="16" height="auto"  title="Espèces"/> &nbsp;&nbsp;
                    <img src="/contents/images/payment3.svg" alt="" height="16"  height="auto"  title="Chèque"/>
                    </p>

                 
            </div>
                            

    
             <div class="col-4">
      
                        <p class="text-black"><a target="_blank" href="/programme/2017/hauts-plateaux-les-la-manutention-t1887/"><i class="fa fa-building-o" ></i> HAUTS PLATEAUX (LES) (La Manutention)</a></p>                      <p class="text-muted small">4, rue des Escaliers Ste Anne <br/>84000 - Avignon - <a href="https://maps.google.fr/maps?q=43.9513179+4.80851929999994" target="_blank" class="btn btn-info btn-simple btn-xs"><i class="fa fa-map-marker" aria-hidden="true"></i> 
Localiser sur la carte</a></p>
                        <p class="text-muted small">
<strong>Nom de la salle : </strong>Les Hauts Plateaux<br/><strong>Nombre de places : </strong>49                        </p>
                        <ul class="list-inline">
                            <li><span class="label label-fill label-black">Climatisation</span></li>
                            <li><span class="label label-fill label-black">Gradins</span></li>
                            <li><span class="label label-fill label-black">Banquettes</span></li>
                        </ul>
            </div>
                                                           
        </div>
</div>



  <div class="row">
   
    <div class="col-4">
                <h4 class="">Résumé du spectacle<hr /></h4>
                <p>Spectacle pour jeune public et grandes personnes<br/>Une Belle au bois dormant clownesque et féministe !<br/><br/>Du conte original de La Belle au bois dormant restent le sommeil profond, le réveil, un baiser, un prince et une princesse.<br/>Vulcano s’invente écrivain et réécrit le conte, à sa manière.<br/>A sa surprise, une princesse endormie apparaît !<br/><br/>Drôle et poétique, ce spectacle est le fruit de la rencontre de les arts du clown et du mouvement.
                </p>  
                
    </div>
    
    <div class="col-4">
      <h4 class="category text-black">Interprètes / Intervenants <hr /></h4>
                <p>                 <ul class="list-unstyled">
                        <li><strong>Interprète(s)&nbsp;: </strong>Catherine Dubois, François Pilon</li>
                        <li><strong>Metteur en scène associé&nbsp;: </strong>Harry Holtzman</li>
                        <li><strong>Décor&nbsp;: </strong>Baptiste Etard</li>
                        <li><strong>Musique&nbsp;: </strong>Francine Ferrer</li>
                        <li><strong>Lumières&nbsp;: </strong>Philippe Deutsch</li>
                        <li><strong>Costumes&nbsp;: </strong>Olga Papp</li>
                        <li><strong>Production&nbsp;: </strong>Nadine Descousis</li>
                        <li><strong>Diffusion&nbsp;: </strong>Claire Pradalié</li>
                    </ul>
                </p>  
                <h4><i class="fa fa-male" rel="tooltip" title="" ></i>Auteurs : </h4>
                <p>Catherine Dubois, François Pilon, Jalie Barcilon</p>   
    </div>
    
    <div class="col-4">
      <h4 class="category text-black">Compagnie In Extenso<hr /></h4>
<span class="label label-fill label-black" title="Numéro de licence">2-1049291</span>
<span class="label label-fill label-primary">Signataire de la charte du OFF</span>
<img src="/contents/images/eco-affichage.svg" alt="Éco-affichage AF&C" height="100">
<p class="small">IN EXTENSO 93 explore, crée et fabrique en Ile-de-France depuis l'an 2000.<br/><br/>Coproduction : L'ODYSSEE, Institut National des Arts du Mime et du Geste à Périgueux, ville de ROMAINVILLE<br/>Soutien : SPEDIDAM  <br/><br/>Réservation/diffusion : <br/>+33 (0)7 69 15 74 14</p>
    </div>
    
  </div>
</div>



        
                    <h4 class="category text-black">Suivre la compagnie</h4>
                </div>
                <div class="marge-10 visible-xs"></div>
                <div class="col-sm-15 col-md-10">
                    <a class="btn btn-social btn-fill btn-tertiary btn-block btn-xs" target="_blank" href="
http://www.inextenso93.net"><i class="fa fa-external-link pull-left"></i> Site internet</a>
                </div>
                <div class="marge-10 visible-xs"></div>
                <div class="col-sm-15 col-md-10">
                    <a class="btn btn-social btn-fill btn-facebook btn-block btn-xs" target="_blank" href="
https://www.facebook.com/inextenso93"><i class="fa fa-facebook-square pull-left"></i> Facebook</a>
   
                                    



                                    
            



                
<!-- Fiche spectacle -->
               
    
{% endblock %}    