{# templates/fiche_salle.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}



            
<!-- Fiche salle -->


<div class="container">

     <h1 class="page-titre">KAWA THÉÂTRE</h1>

        <div class="row">
  <div class="col-sm-25 col-md-15">
    <img src="http://www.avignonleoff.com/resources/off/visuels/2017/theatre/print/theatre_1864.jpg" class="img-responsive" alt="Image">  </div>
  <div class="col-sm-35 col-md-45">
    <div class="card card-plain">
      <div class="content">
        <p class="text-muted">18, rue Fouques <br>34000 - Montpellier - <a href="https://maps.google.fr/maps?q=43.9431421+4.81331799999998" target="_blank" class="btn btn-info btn-simple btn-xs"><i class="fa fa-map-marker" aria-hidden="true"></i> 
Localiser sur la carte</a></p>
<p class="text-muted small"><strong>Nombre de places : 249</strong></p>
        <p>Réservations :             <span class="label label-success h6"><i class="fa fa-phone-square" aria-hidden="true"></i> +33 (0)4 65 81 17 85</span>
            <span class="label label-success h6"><i class="fa fa-phone-square" aria-hidden="true"></i> +33 (0)6 16 82 04 03</span>
</p>

            
              <ul class="list-inline">
                <li><span class="label label-default">Accès <acronym title="Personnes à mobilité réduite" lang="fr">PMR</acronym> </span></li>
                <li><span class="label label-default">Climatisation</span></li>
                <li><span class="label label-default">Gradins</span></li>
                <li><span class="label label-default">Chaises</span></li>
              </ul>

      <div class="content">
        <h4 class="category text-black">Équipe<hr /></h4>
<ul class="list-unstyled">
<li><strong>Directeur artistique : </strong> Fred Tournaire</li><li><strong>Président : </strong> Jean luc Wolf</li></ul>

      </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-45">
    <div class="card card-plain">
      <div class="content">
        <h4 class="category text-black">Présentation du lieu<hr /></h4>
        <p>
Cette année le théâtre de l'Adresse vous propose 10 compagnies, 10 propositions aux voyages, aux rires à la réflexion et aux sentiments . Ce n'est donc pas une, mais 9 bonnes raisons de venir découvrir nos compagnies.Pendant toute la durée du festival des rendez-vous se feront dans la cour du théâtre, échanges, débats, rencontre d'auteur (e).Chaque lundi soir jour de relâche du théâtre sera le prétexte à des concerts les 10,17, 24 juillet. Le théâtre de l'Adresse toujours protégé par l'ombre de ses platanes centenaire vous propose, une  buvette pour vous désaltérer et un camion gourmand "la cambuse" avec sa cuisine fraîche et créative faite maison à partir de produits bio et locaux.Nous vous souhaitons un très belle été et un très bon festival.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-15">
    <div class="card card-plain">

    </div>
  </div>
</div>
<div class="row">
          <h4 class="category text-black">Contactez-nous</h4>
        </div>
        <div class="marge-10 visible-xs"></div>
        <div class="col-sm-12 col-md-10">
          <a class="btn btn-social btn-fill btn-success btn-block btn-xs" target="_blank"><i class="fa fa-phone-square pull-left  hidden-md "></i> 
+33 (0)6 16 82 04 03</a>
        </div>
        <div class="marge-10 visible-xs"></div>
        <div class="col-sm-12 col-md-10">
          <a class="btn btn-red btn-block" target="_blank" href="
http://www.theatredeladresse.com"><i class="fa fa-external-link pull-left"></i> Site internet</a>
        </div>
        <div class="marge-10 visible-xs"></div>
        <div class="col-sm-12 col-md-10">
          <a class="btn btn-blue btn-block" target="_blank" href="
https://théâtre de l' adresse"><i class="fa fa-facebook-square pull-left"></i> Facebook</a>
        </div>
        <div class="marge-10 visible-xs"></div>       <div class="col-sm-12 col-md-10">
          <a class="btn btn-cyan btn-fill btn-twitter btn-block btn-xs" target="_blank" href="
https://l'adresse officiel"><i class="fa fa-twitter-square pull-left"></i> Twitter</a>
        </div>
        <div class="marge-10 visible-xs"></div>       <div class="col-sm-12 col-md-10">
          <a class="btn btn-social btn-fill btn-primary btn-block btn-xs" target="_blank" href="mailto:
theatredeladresse@gmail.com"><i class="fa fa-send pull-left"></i> 
Courriel</a>
        </div>
      </div>

<h4 class="page-titre">Spectacles</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 img-results">
      <img src="http://www.avignonleoff.com/resources/off/visuels/2017/spectacle/web2/spectacle_19497.jpg" alt="" class="img-responsive" title="Ça flotte !" />
    </div>
    <div class="col-sm-50">
      <div class="row">
        <div class="col-sm-60">
          <h4>Ça flotte !</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-60">
          <p class="text-muted">Auteur : création collective</p>        </div>
      </div>
      <div class="row">
        <div class="col-sm-60">
          <div class="row">
            <div class="col-sm-20">
              <p>
                <img src="/contents/images/public1.svg" title="Jeune public" alt="" height="20">                <img src="/contents/images/public0.svg" title="Non francophone" alt="" height="20">               <img src="/contents/images/picto1.svg" title="Clown" alt="" height="20">              </p>
              <p class="text-muted">
<p class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> <strong>du 7 au 30 juillet</strong> - relâche&nbsp;les 10, 17, 24 juillet
<br/><i class="fa fa-clock-o" aria-hidden="true"></i> à <strong>09h45</strong></p>
              </p>
              <a href="/programme/2017/ca-flotte-s19497/" target="_blank" class="btn btn-black btn-fill btn-sm"><i class="fa fa-id-card" aria-hidden="true"></i> Voir la fiche spectacle</a>
            </div>

          
            <div class="col-sm-15">
              <div class="dropdown">
                <a href="#" class="btn btn-fill btn-xs btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-share" aria-hidden="true"></i> Partager</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3a%2f%2fwww.avignonleoff.com%2fprogramme%2f2017%2fca-flotte-s19497%2f&title=%c3%87a+flotte+!"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>                 <li><a target="_blank" href="https://twitter.com/home?status=%c3%87a+flotte+!+http%3a%2f%2fwww.avignonleoff.com%2fprogramme%2f2017%2fca-flotte-s19497%2f"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>                  <li><a target="_blank" href="https://plus.google.com/share?url=http%3a%2f%2fwww.avignonleoff.com%2fprogramme%2f2017%2fca-flotte-s19497%2f"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Google plus</a></li>                 <li><a target="_blank" href="https://pinterest.com/pin/create/button/?url=http%3a%2f%2fwww.avignonleoff.com%2fprogramme%2f2017%2fca-flotte-s19497%2f&media=http%3a%2f%2fwww.avignonleoff.com%2fresources%2foff%2fvisuels%2f2017%2fspectacle%2fweb2%2fspectacle_19497.jpg&description=%c3%87a+flotte+!"><i class="fa fa-pinterest-square" aria-hidden="true"></i> Pinterest</a></li>               </ul>
              </div>
<div class="marge-5"></div>
<a data-toggle="modal" data-target="#mConnexion" class="btn btn-fill btn-xs btn-block"><i class="fa fa-heart-o" aria-hidden="true"></i> Ajouter aux favoris</a>
<div class="marge-10"></div>
<span class="labelButton label-fill label-info clearfix">
<span class="pull-left">
Abonné</span> <span class="pull-right">
8&nbsp;&euro;</span></span>
<span class="labelButton label-fill label-info clearfix">
<span class="pull-left">
Plein tarif</span> <span class="pull-right">
11,5&nbsp;&euro;</span></span>
<span class="labelButton label-fill label-info clearfix">
<span class="pull-left">
 moins de 12 ans</span> <span class="pull-right">
8&nbsp;&euro;</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                
<!-- Fiche salle -->
               
    
{% endblock %}    